.box1{
    margin:auto;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    background-color: aliceblue;
}
.box2{
    margin:auto;
    width: 90%;
    height: 80%;
    border: 2px solid black;
    background-color: orangered;
}
.dispNum{
    margin: 5px 5px;
    width: 98%;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    font-size: 30px;
}
.box3{
    border: 0.5px white;
    margin: 5px;
    width: 90px;
    height: 90px;
    font-size: 30px;
}
.cl{
    border: 2px solid black;
}
@media only screen and (max-width:1000px) {
    .box1{
        width: 100%;
        height: 400px;
    }
    .dispNum{
        width: 98%;
        border: 2px solid black;
        margin: 2px;
    }
    .box2{
        margin: 2px;
        width: 98%;
        height: 350px;
    }
    .box3{
        margin: 2px;
        width: 20%;
        height: 60px;
        border: 2px solid black;
    }
    .cl{
        width: fit-content;
    }
}